.container-about{
    padding: 5rem 5rem;
}
.about-member{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    background-color: #70A989;
    margin-top: 2rem;
    padding: 1.5rem;
    border-radius: 16px;
}

.about-member h3, p{
    text-align: center;
}

.about-member h3{
    font-size: 2rem;
}

.about-member p{
    padding: 1rem 6rem;
    font-size: 1.5rem;
}

.about-member img{
    border-radius: 50%;
    max-width: 90vh;
}

.reverse{
    flex-direction: row-reverse;
}

