.image-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2.5rem; 
    padding-bottom: 2.5rem; 
}

.image-description {
    margin-left: 1rem;
    font-family: var(--base-font);
    font-size: 2rem;
    text-align: justify;
    color: white;
    padding: 6rem;
    background-color: #f3c068;
}

.image-description h2 {
    text-align: center;
    padding: 1rem;
    font-style: italic;
}

.first-image-container {
    flex-direction: row-reverse;
}

.image {
    width: 500px;
    height: 400px;
    padding: 2rem;
}
