.image-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2.5rem;
}

.image-container {
    flex-direction: row;
}

.second-image-container {
    display: flex;
    flex-direction: row-reverse;
}

.image-description {
    height: 40rem;
    margin-left: 2rem;
    font-family: var(--base-font);
    font-size: 2rem;
    text-align: justify;
    color: white;
    padding: 6rem;
    background-color: #f3c068;
}

.second-image-container .image-description {
    margin: 0 2rem 0 0;
}

.image-description h3 {
    text-align: center;
    padding-bottom: 1rem;
    font-style: italic;
}

.image {
    width: 50rem;
    height: 40rem;
}

@media screen and (max-width: 1040px) {
    .image-section {
        padding: 1.5rem;
    }

    .image-description {
        height: 20rem;
        margin: 1rem 0;
        font-size: 1.5rem;
        padding: 3rem;
    }

    .second-image-container .image-description {
        margin: 0;
    }

    .image {
        width: 30rem;
        height: 20rem;
    }
}

@media screen and (max-width: 980px) {
    
    .image-container {
        flex-direction: column;
        max-height: 40rem;
        max-width: 60rem;
        margin: 2rem auto;
    }

    .second-image-container .image-description {
        margin-top: 1.5rem;
    }
    
    .image-description {
        font-size: 1.2rem;
        width: 100%;
        height: 20rem;
    }

    .col-md-3 {
        width: 100%;
        height: 100%;
    }
    
    .image {
        width: 100%;
        height: 20rem;
    }

}

@media screen and (max-width: 830px) {

    h4{
        font-size: 2rem;
    }

    .image-description {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 655px) {
    h4{
        font-size: 1.5rem;
    }

    .image-description {
        font-size: 1rem;
    }
}