.image-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2.5rem;
}

.image-section h2{
    color: whitesmoke;
}

.image-container {
    flex-direction: row;
}

.second-image-container {
    display: flex;
    flex-direction: row-reverse;
}

.image-description {
    height: 40rem;
    margin-left: 2rem;
    font-family: var(--base-font);
    font-size: 2rem;
    text-align: justify;
    color: white;
    padding: 6rem;
    background-color: #f3c068;
}

.second-image-container .image-description {
    margin: 0 2rem 0 0;
}

.image-description h2 {
    text-align: center;
    padding-bottom: 1rem;
    font-style: italic;
}

.image {
    width: 50rem;
    height: 40rem;
}

@media (max-width: 768px) {
    .image-section {
        display: flex;
        flex-direction: column;
        max-width: 30vh;
        justify-content: center;
        align-items: center;
    }

    .image-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 15rem; 
        min-width: 30vh;
    }

    .image-description {
        display: flex;
        flex-direction: column;      
        min-width: 30vh;
        min-height: 100vh;
        font-size: 1.5rem;
        padding: 3rem;
    }
    .image-description h2, p{
        font-size: 1em;
    }

    .second-image-container .image-description {
        margin: 0;
    }

    .image {
        max-width: 40vh;
        max-height: 30vh;
        padding: 1rem;
        justify-content: center;
        align-items: center;
    }
}

/* @media screen and (max-width: 850px) {
    .image-description {
        font-size: 1rem;
    }
}

@media screen and (max-width: 630px) {
    .image-description {
        font-size: 0.8rem;
    }
} */
