body {
    background: #9dc78c;
}

h3 {
    font-size: 5rem;
    font-family: var(--base-font);
    text-align: center;
    color: white;
    padding: 5rem;
}

form {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 5rem;
}

.label-input-container {
    width: 80rem;
    max-width: 100%;
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: white;
}

label span {
    margin-right: 0.5rem;
}

input, textarea {
    width: 100%;
    height: 5rem;
    font-family: var(--alternative-font);
    font-size: 1.6rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    text-align: center;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    transition: background 0.3s ease-in-out;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
}

input:focus, textarea:focus {
    outline: none;
}
input:hover, textarea:focus {
    border: 0.2rem solid #4b867f;
    outline: none;
}

textarea {
    padding: 1.5rem;
    margin-bottom: 3rem;
}

button {
    font-size: 1.8rem;
    color: white;
    padding: 0.8rem 2rem;
    background-color: #f2b249;
    border-radius: 0.5rem;
    border: none;
    margin-bottom: 5rem;
    width: 30%;
    min-width: min-content;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
}

button:hover {
    background-color: #103833;
}
