.hero {
    display: flex;
    justify-content: flex-start;
    background-image: url(/src/assets/img/imagen-hero.jpg);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 45rem;
    align-items: center;
}

.hero-link {
    display: inline-block;
    margin-left: 20rem;
    margin-left: min(20rem, 10%);
    font-family: var(--alternative-font);
    font-weight: 600;
    font-size: 2.5rem;
    background-color: white;
    padding: 1rem 1.2rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.image-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2.5rem; 
    padding-bottom: 2.5rem; 
}

.image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
}

.first-image-container {
    flex-direction: row-reverse;
}

.image {
    width: 66.66%;
    height: auto;
}

.image-description {
    width: 33.33%;
    margin-left: 1rem;
}