.hero {
    display: flex;
    justify-content: flex-start;
    background-image: url(/src/assets/img/imagen-hero.jpg);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 60rem;
    align-items: center;
}

.hero-link {
    display: inline-block;
    margin-left: 20rem;
    margin-left: min(20rem, 10%);
    font-family: var(--alternative-font);
    font-weight: 600;
    font-size: 2.5rem;
    background-color: white;
    padding: 1rem 1.2rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    margin: 7rem;
}

.hero p{
    margin-left: 1rem;
    font-family: var(--base-font);
    font-size: 2rem;
    text-align: justify;
    color: white;
    padding: 8rem;
    background: rgba(146, 145, 145, 0.534);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    margin-right: 3rem;
    font-style: italic;
}

.image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
}






