/* Estilos de la Navbar */

.container_navbar {
    display: flex;
    justify-content: space-between;
    background-color: #103833;
    font-weight: 600;
    width: 100%;
    height: 10rem;
}

.container_navbar--logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container_navbar--logo p {
    font-size: 1.5rem;
    padding-left: 1rem;
    font-weight: 600;
}

.container_navbar--logo img {
    width: 15rem;
}

.container_navbar--links {
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
    background-color: #103833;
    text-align: right;
}

.container_navbar--links button {
    display: none;
}

.container_navbar--links ul {
    display: flex;
}

.container_navbar--links ul li {
    padding-left: 1rem;
    padding-right: 1rem;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: white;
    transition: background 0.3s ease-in-out;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
}

.nav-link:hover {
    color: #f2b249;
    font-weight: 600;
}

@media (max-width: 768px) {
    .container_navbar--links button {
        display: block;
        cursor: pointer;
        margin-right: 1rem;
    }

    .container_navbar--logo {
        padding-left: 1rem;
    }

    .container_navbar--links ul {
        display: none;
        cursor: pointer;
        flex-direction: column;
        position: absolute;
        z-index: 1;
        top: 13vh;
        right: 0;
        width: 25vh;
        padding: 1rem;
        text-align: right;
        background-color: #103833;
        margin-right: 0.5rem;
    }

    .nav-list.show {
        display: flex;
    }

    .nav-list li {
        margin: 1rem 0;
    }
}