#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  text-align: center;
}

/* Estilos de la Navbar */

.container_navbar{
  display: flex;
  justify-content: space-between;
  background-color: yellowgreen;
  padding-right: 1rem;
}

.container_navbar--logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container_navbar--logo p{
  font-size: 1.5rem;
  padding-left: 1rem;
  font-weight: 600;
}

.container_navbar--logo img{
  width: 3rem;
  height: 3rem;
  padding: 1rem;
}

.container_navbar--links{ 
  display: flex;
  justify-content: end;
  align-items: center;
}

.container_navbar--links button{
  display: none;
}

.container_navbar--links ul {
  display: flex;
}

.container_navbar--links ul li{
  padding-left: 1rem;
  padding-right: 1rem;
  list-style: none;
}

.nav-link{
  text-decoration: none;
  color: #000000;
}

.nav-link:hover{
  color: white;
  background-color: green;
  padding: 1rem;
}


@media (max-width: 768px) {
  .container_navbar--links button{
    display: block;
    cursor: pointer;
    margin-right: 1rem;
  }

  .container_navbar--links ul  {
    display: none; 
    cursor: pointer;
    flex-direction: column;
    position: absolute;
    top: 4.6rem; 
    right: 0;
    width: 25vh;
    padding: 1rem;
    text-align: center;
    background-color: yellowgreen;
    margin-right: 0.5rem;
  }

  .nav-list.show {
    display: flex;
  }

  .nav-list li {
    margin: 1rem 0;
  }

}

/* Footer */
.container_footer{
  background: yellowgreen;
  padding-top: 2rem;
  margin-top: 1rem;
}

.container_footer  p {
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

.container_footer p a {
  color: whitesmoke;
}

.container_footer--redes{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container_footer--redes svg{
  padding: 0.5rem;
  width: 3.5rem;
  height: 3.5rem;
}

/* Formulario */

.container_formulario{
  display: flex;
}

form {
  margin: auto;
  border: solid 1px black;
  padding: 1rem;
  width: 20vh;
}

form h2 {
  text-align: center;
}

form p {
  text-align: center;
}

form label{
  font-weight: 600;
  margin: 1rem 0;
}

form input {
  margin: 1rem 0;
  
  
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

form button{
  padding: 1rem; 
}