* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos de la Navbar */

.container_navbar{
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #103833;
  font-family: sans-serif;
  font-weight: 600;
  width: 100%;
  height: 5rem;

  
}

.container_navbar--logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container_navbar--logo p{
  font-size: 1.5rem;
  padding-left: 1rem;
  font-weight: 600;
}

.container_navbar--logo img{
  width: 7rem;
}

.container_navbar--links{ 
  display: flex;
  justify-content: end;
  align-items:center;
  font-family: sans-serif;
  color: white;
  background-color: #103833;
  text-align: right;
  margin-right: 4rem;
}

.container_navbar--links button{
  display: none;
}

.container_navbar--links ul {
  display: flex;
}

.container_navbar--links ul li{
  padding-left: 1rem;
  padding-right: 1rem;
  list-style: none;
}

.nav-link{
  text-decoration:none;
  color: white;
}

.nav-link:hover{
  color: #F2B249;
  font-weight: 600;

}


@media (max-width: 768px) {
  .container_navbar--links button{
    display: block;
    cursor: pointer;
    margin-right: 1rem;

  }

  .container_navbar--links ul  {
    display: none; 
    cursor: pointer;
    flex-direction: column;
    position: absolute;
    top: 4.6rem; 
    right: 0;
    width: 25vh;
    padding: 1rem;
    text-align: right;
    background-color:#103833;
    margin-right: 0.5rem;
  }

  .nav-list.show {
    display: flex;
  }

  .nav-list li {
    margin: 1rem 0;
  }

}

/* Footer */
.container_footer{
  background: #9DC78C;
  padding-top: 2rem;
  margin-top: 1rem;
}

.container_footer  p {
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

.container_footer p a {
  color: whitesmoke;
}

.container_footer--redes{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container_footer--redes svg{
  padding: 0.5rem;
  width: 3.5rem;
  height: 2rem;
}

h1{
  font-family: sans-serif;
  font-size: 25px;
  color: #F2B249;
  margin-left: 15rem;
  margin-top: 10rem;

}

.container_header {
  width: 100%;
  display: flex;
  justify-content:left;
}

.imagen-del-encabezado{
  height: 20rem;
}