@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&family=Raleway:wght@100;300;400;500;600;700;900&display=swap");

:root {
    --base-font: "Inter", sans-serif;
    --alternative-font: "Raleway", sans-serif;
    background-color: #103833;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--base-font);
    font-size: 62.5%;
}


body {
    display: block;
    max-width: 120rem;
    margin: 0 auto;
}

a {
    font-family: inherit;
    text-decoration: none;
    font-size: 2rem;
    color: inherit;
}

img {
    width: 100%;
}

h4 {
    font-size: 3rem;
    text-align: center;
    color: white;
    padding: 4rem auto 0 auto;
    margin-bottom: 1rem;
}



